@font-face {
    font-family: 'Raleway-Italic';
    src: url(./fonts/KumbhSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(./fonts/KumbhSans-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(/fonts/Roboto-Italic.woff2);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Italic.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}