@use './helpers/index' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    width: 100%;
    box-sizing: border-box;
}

.visually-hidden {
    @include visually-hidden;
}
.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    display: none; // По умолчанию скрыто на всех экранах

  @include mobile { // Показываем ТОЛЬКО на мобильных
    display: flex; // Или block, в зависимости от вашей вёрстки
    }

  @include mobile-above { // Дублируем скрытие для десктопа (на всякий случай)
    display: none !important;
    }

}

.full-vw-line {
    position: relative;

    &::before, &::after {
        position: absolute;
        width: calc(
            (100% - var(--container-width)) / 2);
        height: rem(1);
        background-color: var(--color-dark-15);
    }

    &--top {
        &::before {
            content: '';
            bottom: 100%;
        }

    }

    &--bottom {
        &::after {
            content: '';
            top: 100%;
        }
    }
    &--left {
        &::after, &::before {
            right: 100%;
        }
    }

    &--right {
        &::after, &::before {
            left: 100%;
        }
    }
}