@use './helpers/index' as *;

:root {
    --color-light: #ffffff;
    --color-dark: #030303;
    --color-brown: #3A2517;
    --color-coffee: #6F4E37;
    --color-sand: #F5F0EB;// #e1c9ac;
    --color-burgundy: #88292F;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-brown);

    --font-family-base: 'Raleway-Italic', sans-serif ;
    --font-family-h: 'Raleway-Medium', sans-serif ;
    --font-family-additionally: 'Roboto-Regular', sans-serif ;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};
    --transition-duration: 0.2s ;

    @include laptop {
        --container-width: #{rem(1280)};
    }


}