@use './helpers/index' as *;

:root {
    --color-light: #ffffff;
    --color-dark: #030303;
    --color-dark-15: #262626;
    --color-dark-20: #333;
    --color-gray-50: rgb(216, 216, 216);
    --color-gray-60: rgb(199, 199, 208);

    --color-accent: #363e24;
    --color-red: #ff5500;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-gray-60);

    --font-family-base: 'Raleway-Italic', sans-serif ;
    --font-family-h: 'Raleway-Medium', sans-serif ;
    --font-family-additionally: 'Roboto-Regular', sans-serif ;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};
    --transition-duration: 0.2s ;

    @include laptop {
        --container-width: #{rem(1280)};
    }


}